<mat-card>    
    <mat-card-title-group>
       <!-- src="assets/{{contact.image}}" PIPE CREATED TO REPLACE THIS -->
        <img class="image" mat-card-sm-image [src]="contact | image">
        <mat-card-title>
            {{contact.name}}
        </mat-card-title>
        <mat-card-subtitle>
            {{contact.number}}
        </mat-card-subtitle>
        
    </mat-card-title-group>

    <mat-card-content>
        {{contact.desc | slice:0:60}} ...
    </mat-card-content>

    <mat-card-actions>
        <button [routerLink]="['/contacts/contact', contact.id]" mat-icon-button matTooltip="See contact details">
            <mat-icon>visibility</mat-icon>
        </button>
        <button [routerLink]="['/contacts/edit', contact.id]" mat-icon-button matTooltip="Edit contact">
            <mat-icon>edit</mat-icon>
        </button>
        <button (click)="delete(contact)" mat-icon-button matTooltip="Delete contact">
            <mat-icon>delete</mat-icon>
        </button>
        
        <button mat-icon-button matTooltip="Add to favorites">
            <mat-icon>favorite_border</mat-icon>
        </button>
      </mat-card-actions>
</mat-card>
